div {

    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 20px;

}

button {
    width: 6%;
    padding: 10px;
    border: none;
    border-radius: 20px;
    color: white;
}

.btn-1 {
    background-color: #3381bb;
}

.btn-2 {
    background-color: #2f7db3;
}

.btn-3 {
    background-color: #2d7bad;
}

.p1 {
    font-size: 12px;
}

.p2 {
    font-size: 14px;
}

.p3 {
    font-size: 16px;
}

.p4 {
    font-size: 18px;
}

.p5 {
    font-size: 24px;
}

.p6 {
    font-size: 32px;
}

.box-1 {
    background-color: chocolate;
    width: 12px;
    height: 10px;
}

.box-2 {
    background-color: chocolate;
    width: 14px;
    height: 8px;
}

.box-3 {
    background-color: chocolate;
    width: 16px;
    height: 14px;
}

.box-4 {
    background-color: chocolate;
    width: 24px;
    height: 22px;
}

.box-5 {
    background-color: chocolate;
    width: 32px;
    height: 30px;
}